node_modules
dist
coverage
*.lock
package-lock.json
vulnerabilities.json
vulnerabilities.md
vulnerabilities.csv
tests/fixtures/**/vulnerabilities.json
tests/fixtures/**/vulnerabilities.md
tests/fixtures/**/vulnerabilities.csv
